body {
  margin: 0;
  padding: 20px;
}

.container {
  padding: 20px;
  gap: 1em;

  display: flex;
  flex-direction: column;
/*  margin: auto;*/
/*  justify-content: center;*/
/*  margin: 0px auto;*/
/*  width: fit-content;*/
/*  height: fit-content;*/

  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.05);
}

.row {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right-column {
  width: 15em;
}

.tag-input {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
} 

.tag-text {
  margin-right: .25rem;
}

.tag-count {
  margin-right: .25rem;
  color: #999;
}

.image-column {
  flex: 1;
  min-width: 30em;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  min-width: 0;
}

.files-position {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.img-box {
  display: flex;
  border-radius: 0.3em;
  background-color: #FFFFFF;
  height: 100%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  background: repeating-conic-gradient(#D0D0D0 0% 25%, transparent 0% 50%) 50% / 30px 30px;
}

.file-input-row {
  display: flex;
  gap: 1em;
}

#search-input {
  flex: 1;
}

input[type=text] {
  border-color: #000000;
  border-width: 2px;
  padding: 5px 5px;
  border-radius: 5px;
  color: #000000;
  transition: background .2s ease-in-out;
  font-size: medium;
}

.button {
  border: none;
  background: #0d45a5;
  padding: 0.7em 0.9em;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.tag-button {
  cursor: pointer;
  color: white;
  border: none;
  height: 1.4em;
  width: 1.4em;
  border-radius: 70%;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  transition: all 0.2s ease;
}

.delete-tag-button {
  margin-right: .25rem;
  background-color: #648191;
}

.add-global-button {
  margin-right: 0.25rem;
  background-color: #ff8c8c;
}

.tag {
  display: flex;
  flex-direction: row;
  scale: 100%;
  transition: all .2s ease-in-out;

  padding-top: 0.3em;
  padding-bottom: 0.3em;

  width: 100%;
}

.tag:nth-child(odd) {
  background: #FFFFFF;
}

.tag:nth-child(even) {
  background: #f3f4f4;
}

.tag-buttons {
  margin-left: 0.3em;
  order: 1;
  flex-direction: row;
  margin-top: -0.1;
}

.tags-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 512px;
  width: 100%;
  border: none;
  border-radius: 0.3em;
  background-color: #FFFFFF;
}

.tag-info {
  order: 2;
  display: flex;
  flex-direction: row;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.wiki-link {
  order: 3;
  display: none;
  margin-top: 0.05em;
  color: #fff;
  background-color: #feb22a;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
  
  transition: all 0.5s ease;
}

.tag:hover > .wiki-link {
  display: inline-block;
}

.tag-script-column {
  width: 15em;
}

@media (pointer: coarse) {
  .tag-script-column {
    display: none;
  }
}

.tag-script-box {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.gallery {
  display: grid;
  row-gap: 1em;
  column-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.thumbnail-div {
  display: flex;
  height: 200px;
  width: auto;
  border-radius: 0.3em;
  background-color: #FFFFFF;
  cursor: pointer;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
